@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 50px;
}

.heading {
  color: rgb(155, 153, 153);
  padding: 20px 0 0 20px;
}

.content-box {
  width: 840px;
  margin: 0 auto 50px;
}

.content-top {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

.content {
  padding: 30px 0;
  border-bottom: 1px solid lightgray;
}
